.NewsPage_Container{
    display: flex;
    width: 100%;
    height : 1868px;
    justify-content: center;
    fill: linear-gradient(180deg, #F0F5F9 0%, rgba(240, 245, 249, 0.00) 100%);
}

.News_Wrapper {
    display: flex;
    flex-direction: row;
    height : 1868px;
    color: #777;
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}